/* CSS connected to following html file:
student_MOR_5.html , student_MOR_6.html , student_MOR_10.html , student_MOR_11.html , student_MOR_12.html ,
6.5Faculty-AdviserREview.html , sucesspage_dp1.html , sucesspage_dp2.html , sucesspage_Elib.html

*/


* {
 margin: 0;
 padding: 0;
 transition: cubic-bezier(0.06, 0.34, 0, 0.99);
 
}
:root {
    --primary: #667080;
    --secondary: #EEF1F4;
    --gray-400: #CED4DA;
    --fulvous-primary: #DC8116;
}
body {
    background-color: #F8F8FF;
}


/* navigation bar */

.navbar {
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;


    background-color: #ffff;
    border-bottom: 1px solid var(--gray-400);
    /* for visualization //temp */
    /* background-color:  */
    /* border-bottom: ; */
}
#navbar-cmpe-logo {
   height: 30px;
   width: 30px; 
   margin-left: 60px;
   /* for visualization // temp */

}
#navbar-header {
    font-size: 15px;
    font-family: 'InterExtraBold';
    color: var(--fulvous-primary);
    margin-left: 10px;
}
a {
    font-size: 14px;
    font-family: 'InterLight';
    text-decoration: none;
    color: #2F2F2F;
    }
.navbar span{
    width: 70%;
    text-align: right;
    margin-right: 10px;
}
.navbar .profile {
    margin-left: 2%;
}
.navbar .profile img {
    height: 30px;
    width: 30px;
}


/* MOR PAGE 10 */

/* content container */

.content {
    height: 80vh;
    width: 80vw;
    left: 10vw;
    top: 15vh;
    display: flex;
    flex-wrap: wrap;
    position: absolute;   
}
.title-header-content{
    height: 45px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 3px solid var(--fulvous-primary);

    /* background-color: aqua; */
}
#return-button {
    height: 27px;
    width: 27px;
}
/* button {
    border:none;
} */
#title-header {
    font-size: 20px;
    font-family: 'InterBold';
    margin-left: 10px;
    /* margin-top: 5px; */
}

.research-info-container {
    display: flex;
    justify-content: space-between;
    height: 80%;
    width: 100%;
    overflow: hidden;
}
.research-details{
    width: 53%;
    display: flex;
    flex-wrap: wrap;
    
}
.research-brief-details-cont {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
    border-bottom: 0.75px solid var(--gray-400);
}
.research-brief-details {
    display: flex;
    /* background-color: brown; */
    height: 100px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;

}
p.research-brief-details {
    padding: 5px;
    margin: 5px;
}
.info-sub-title {
    font-family: 'InterSemiBold';
    font-size: 12px;
    margin-right: 10px;

}
.details {
    font-family: 'InterRegular';
    font-size: 12px;
    top: 5px;
}

.research-brief-details-members{
    width: 37%;
    margin: 10px;
}
.research-brief-details-sub-title{
    width: 55%;
    margin: 10px;
}
.update-info {
    display: flex;
    flex-direction: row-reverse;
    
}
.update-info a {
    font-family: 'InterLight';
    font-size: 12px;
    color: #0D6EFD;
    margin-bottom: 20px;
}
.research-preview {
    width: 35%;
    height: 100%;
    display: flex;
    background-color: #2F2F2F;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 25px;
}
embed {
    height: 100%;
    width:100%;
    border: none;
}
.research-proposes-cont {
    font-family: 'InterSemiBold';
    font-size: 12px;
    margin: 10px;
    margin-right: 0px;
    overflow: scroll;
    height: 60%;
    width: 100%;
}
.research-title-cont {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    border-left: 3px solid var(--fulvous-primary);
    padding-left: 10px;
    border-bottom: 0.5px solid #c1c1c1;
    height: 15vh;
    justify-content: space-evenly;
    flex-direction: column;
    
}
.research-title-cont:hover {
    background-color: #c1c1c163;
    height: 17vh;
}
.research-title-cont-cont   {
    display: flex;
    width: 100%;
    height: 45%;
    overflow: hidden;
}
.display-result-title {
    margin: 7px 3px 0 0;
    width: 95%;
    height: 35%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    padding: 4px;
    color: #ffff;
    font-family: 'InterBold';
    font-size: 10px;
}
.research-result-cont {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 50%;
    height: 40%;
    justify-content: center;
}
.display-result{
    width: 39%;
}
#research-title {
    height: 45%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    margin: 0 5px 0 0;
    width: calc(100% -5px);
}
#research-title:hover {
    white-space: normal;
    overflow: visible;
    text-overflow: ellipsis;
    text-align: justify;
}

.view , .remove {
    border: none;
    margin: 10px;
    color: #0D6EFD;
    cursor: pointer;
    background-color: transparent;
    width: 23%;
}
.upload-file {
    z-index: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid var(--fulvous-primary);
    cursor: pointer;
    background-image: url(../img/icons8-upload-button-50.png);
    background-repeat: no-repeat;
    background-position: center;
}
.upload-file:hover {
    background-color: var(--fulvous-primary);
    background-image: url(../img/hover.png);
    background-position: center;
    background-repeat: no-repeat;
}

/* MOR PAGE 11 */
#title-header-content-page11{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
#title-header-proposal {
    font-size: 14px;
    font-family: "InterExtraBold";
    margin-right: 10px;
    width: 18vw;
    margin-top: 2.5px;
}
.title-header-content #title-header-info  {
    font-size: 14px;
    font-family: "InterBold";
}
.cont-cont {
    display: flex;
    justify-content: space-between;
} 
.comment-recommendation-cont {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 60%;
}
#com-rec-p {
    margin: 10px;
    margin-left: 0px;
}
.comments-cont {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 5px;
}
.comments-cont img{
    height: 25px;
    width: 25px;
}
.profile-name-comment {
    font-size: 12px;
    font-family: "InterSemiBold";
    margin-left: 10px;
}
.comment-date{
    font-size: 8px;
    font-family: "InterLight";
    color: var(--primary);
    margin-left: 10px;
}
.comment-cont-info {
    font-family: "InterRegular";
    font-size: 12px;
    margin-left: 35px;
}
.reply-button, .fulvuos-button {
    border: none;
    cursor: pointer;
}
.reply-button{
    font-size: 11px;
    color: var(--primary);
    margin-left: 35px;
    font-family: "InterLight";
}
.comment-textarea textarea {
    font-family: "InterRegular";
    font-size: 10px;
    width: 50%;
    height: 50%;
    margin-left: 10px;
}
.fulvuos-button{
    color: white;
    font-size: 10px;
    background-color: var(--fulvous-primary);
    border-radius: 2px;
    padding-top: 5px; 
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

}
.preview-cont {
    width: 40%;
    
}
#approval-responses-title {
    margin: 10px;
    margin-left: 0;
}
.research-advisor-cont {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.cat-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--primary);
}
.research-advisor-title {
    margin: 5px;
}
.faculty-name-section {
    font-size: 12px;
    font-family: "InterRegular";
    margin-left: 10px;
}
.faculty-section-response {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-family: "InterRegular";
    height: 30px;
}



/* MOR PAGE 12 */


.main-cont {
    width: 80vw;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.title-cont {
    display: flex;
    align-items: center;
    margin-top: 7vh;
    margin-bottom: 5vh;
}

.title-cont .title-back {
    margin-right: 30px;
    height: 27px;
    width: 27px;
}

.title-cont h1 {
    font-family: "InterBold";
    font-size: 20px;
}


.content-cont {
    border: 0.5px solid var(--primary);
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: #00000026 0px 8px 16px 0px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 35px;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.content-cont h2 {
    font-family: "InterBold";
    font-size: 18px;
}

.content-cont hr {
    background-color: var(--fulvous-primary);
    height: 2px;
    border: none;
    border-radius: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-cont .details-cont {
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.research-panelist-cont {
    display: flex;
    margin: 10px;
    font-family: "InterRegular";
    font-size: 12px;
}
input[type="radio"] {
    margin-top: 10px;
    margin-bottom: 10px;
}
.research-panelist {
    width: 50%;
}


label.group-members-cont , .content-cont .details-cont p {
    font-family: InterSemiBold;
    font-size: 13px;
}

.content-cont .details-cont p span {
    color: #DC3545;
}

.content-cont .details-cont .description {
    font-family: InterRegular;
    font-size: 12px;
    color: #6C757D;
}

.content-cont .details-cont .details-panelist-cont,
.details-submission-cont {
    width: 47%;
}

.details-submission-cont textarea {
    resize: none;
    margin-top: 15px;
    margin-bottom: 15px;
    outline: none;
    font-family: 'InterRegular';
    font-size: 12px;
    border-radius: 2px;
    border: solid var(--gray-400) 2px;
    color: #212529;
    padding: 5px;
    width: calc(100% - 14px);
    height: 20%;
}
textarea.details-submission-cont {
    font-family: "InterSemiBold";
}

.details-submission-cont .details-action-cont {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
    margin-top: 35px;
}

.details-submission-cont .details-action-cont .details-action-clear {
    width: 100px;
    height: 30px;
    font-family: InterSemiBold;
    font-size: 12px;
    color: var(--fulvous-primary);
    background-color: white;
    border: 2px solid var(--fulvous-primary);
    border-radius: 5px;
    cursor: pointer;
    margin-right: 30px;
  
}

.details-submission-cont .details-action-cont .details-action-submit {
    width: 100px;
    height: 30px;
    font-family: InterSemiBold;
    font-size: 12px;
    color:white;
    background-color:  var(--fulvous-primary);
    border-radius: 5px;
    border:none;
    cursor: pointer;
   
}

/* FACULTY */
/* FACULTY 6.5 CSS */

.elib-content {
    width: 48%;
    /* background-color: #0D6EFD; */
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: column;
    
}
.research-abstract-preview {
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}
#faculty-adviser-review-thesis {
    justify-content: space-between;
}
#faculty-adviser-review-thesis-elib-cont {
    border: none;
}
#elib-content-details{
    padding: 10px;
    text-align: justify;
}
.elib-subcont-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}
.authors-cont, .other-info-cont{
    width: 45%;
}
#submit-elib {
    background-color: var(--fulvous-primary);
    color: var(--secondary);
    padding: 3px;
    cursor: pointer;
    border: none;
}
.review-thesis-title {
    font-family: "InterSemiBold";
    font-size: 16px;
    margin: 10px;
    text-align: justify;
}
.review-thesis-citation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 10px;
    font-family: "InterLight";
    font-size: 12px;
}
#thesis-author {
    padding-left: 2px;
    padding-right: 2px;
}
.citation-author {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
}
#citation-author, #citation-date {
    margin-left: 10px;
    width: 90%;
    text-align: justify;
}

.citation-date {
    display: flex;
    align-items: center;
}
.thesis-abstract {
    margin-top: 10px;
    height: 70%;
}
p#thesis-abstract-title {
    margin-left: 10px;
}
p.thesis-abstract {
    margin-left: 10px;
    overflow-y: scroll;
    text-align: justify;
    font-family: "InterRegular";
    font-size: 12px;
    height: 90%;
}
::-webkit-scrollbar {
    width: 5px;
    height: 10%;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background: var(--fulvous-primary);
    border-radius: 12%;
    
}


/* Success Page */
.return-button {
    border: none;
    margin-right: 10px;
    cursor: pointer;
}
.info-success{
    font-family: "InterSemiBold";
    font-size: 12px;
    margin-bottom: 30px;
}
.back-button {
    border: none;
    background-color: var(--fulvous-primary);
    color: var(--secondary);
    font-family: "InterRegular";
    font-size: 12px;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
}
/* Student MOR 5 */
#student-mor-title-cont {
    height: 45px;
    margin: 0;
}
.student-mor5-main-cont {
    position: absolute;
    top: 15vh;
    left: 10vw;
    display: flex;
    height: 80vh;
    width: 80vw;
}
.student-mor-tabs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
#student-mor5-cont-cont {
    height: 85%;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: center;
}
.directory-cont-title {
    font-family: "InterBold";
    font-size: 16px;
    padding: 10px 0 10px 10px;
}
.directory-cont {
    height: 25%;
    width: 85%;
    border: 0.5px solid var(--gray-400);
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.button-cont {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    
}
.continue-button {
    border: none;
    color: var(--secondary);
    background-color: var(--fulvous-primary);
    padding: 8px 20px 8px 20px;
    border-radius: 2px;
    transition: 0.2s cubic-bezier();
    margin: 0 10px 10px 0;
    cursor: pointer;
}

/* MOR 6 */
#mor-6-submission-cont .details-submission-cont {
    display: flex;
    flex-wrap: wrap;
}

.group-members, select#research-adviser-sel, select#course-sel, select#yns-sel, select#group-sel{
    width: calc(100% - 10px);
    height: 20px;
    margin-bottom: 5px;
    border: 0.5px solid var(--gray-400);
    font-family: "InterLight";
    color: var(--primary);
    padding: 2px 5px 2px 5px;
    outline: none;

}
.group-members:focus, select#research-adviser-sel:focus, select#course-sel:focus, select#yns-sel:focus, select#group-sel:focus, #mor-6-submission-cont textarea:focus {
    color: black;
    font-family: "InterRegular";
    outline: 0.5px solid var(--fulvous-primary);
}
p.group-members-cont {
    margin-bottom: 15px;

}
select#research-adviser-sel, select#course-sel, select#yns-sel, select#group-sel{
    margin-top: 10px;
    height: 25px;
    width: 100%;
}

.other-details-cont-sel {
    display: flex;
    justify-content: space-between;
}
#mor-6-submission-cont textarea {
    height: 20px;
    border: 0.5px solid var(--gray-400);
    margin: 0;
    text-wrap: wrap;
}
#mor-6-submission-cont p{
    margin-bottom: 15px;
}
.drag-file-upload {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    border: 0.5px solid var(--fulvous-primary);
    border-radius: 5px;
    height: 20%;
    width: calc(100% 10px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

#drag-file-upload-logo {
    height: 50px;
    width: 50px;
}
input[type="file"]::file-selector-button {
    border: 0.5px dashed var(--fulvous-primary);
    
    
}
/* .drag-file-upload-inputfile {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
} */
#info-form {
    height: 80%;
    display: flex;
}





/* VIEWPORT */


@media screen and (max-width: 768px ) {

/* Navbar */
.navbar {
    width: 100%;
    height: 7vh;
}
#navbar-cmpe-logo {
    height: 20px;
    width: 20px;
    margin-left: 20px;
}
#navbar-header{
    font-size: 12px;
    width: 40%;
}
.navbar span{
    width: 38%;
    margin-right: 10px;
}
a {
    font-size: 12px;
}
.navbar .profile{
    width: 7%;
}
.navbar .profile img{
    height: 25px;
    width: 25px;
}


/* Elibrary 6.5 */
.content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    height: max-content;
    padding-bottom: 20px

}
.elib-content {
    width: 100%;

}
.research-abstract-preview {
    width: 100%;
    border: 0.025px solid var(--gray-400);
    padding-bottom: 10px;
    margin-bottom: 25px;
}
p.thesis-abstract{
    overflow-y: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 13px;
}
#submit-elib {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-bottom: 12px;

}
.details{
    font-size: 13px;
}

/* MOR 5 STUDENT */

}

/* FONTS */

@font-face {
    font-family: 'InterRegular';
    src: url(../css/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
    src: url(../css/fonts/Inter/static/Inter-Regular.ttf);  
} 
@font-face {
    font-family: 'InterThin';
    src: url(../css/fonts/Inter/static/Inter-Thin.ttf);
}
@font-face {
    font-family: 'InterMedium' ;
    src: url(../css/fonts/Inter/static/Inter-Medium.ttf);
}
@font-face {
    font-family: 'InterLight';
    src: url(../css/fonts/Inter/static/Inter-Light.ttf);
}
@font-face {
    font-family: 'InterExtraLight';
    src: url(../css/fonts/Inter/static/Inter-ExtraLight.ttf);
}
@font-face {
    font-family: 'InterExtraBold';
    src: url(../css/fonts/Inter/static/Inter-ExtraBold.ttf);
}
@font-face {
    font-family: 'InterBold';
    src: url(../css/fonts/Inter/static/Inter-Bold.ttf);
}
@font-face {
    font-family: 'InterSemiBold';
    src: url(../css/fonts/Inter/static/Inter-SemiBold.ttf);
}
