:root {
    --primary: #667080;
    --secondary: #EEF1F4;
    --gray-400: #CED4DA;
    --fulvous-primary: #DC8116;
}

body {
    background-color: #F8F8FF;
}





.main-cont {
    width: 1428px;

    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}

.title-cont {
    display: flex;
    align-items: center;
    margin-top: 95px;
    margin-bottom: 50px;
}

.title-cont .title-back {
    margin-right: 30px;
}

.title-cont h1 {
    font-family: InterBold;
    font-size: 48px;
}


.content-cont {
    border: 1px solid var(--primary);
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: #00000026 0px 8px 16px 0px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 40px;
}

.content-cont h2 {
    font-family: InterBold;
    font-size: 40px;
}

.content-cont hr {
    background-color: var(--fulvous-primary);
    height: 5px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-cont .details-cont {
    display: flex;

}


.content-cont .details-cont p {
    font-family: InterSemiBold;
    font-size: 18px;
}

.content-cont .details-cont p span {
    color: #DC3545;
}

.content-cont .details-cont .description {
    font-family: InterRegular;
    font-size: 16px;
    color: #6C757D;
}

.content-cont .details-cont .details-panelist-cont,
.details-submission-cont {
    width: 50%;
}

.details-submission-cont textarea {
    resize: none;
    margin-top: 15px;
    margin-bottom: 15px;
    outline: none;
    font-family: 'InterRegular';
    font-size: 16px;
    border-radius: 5px;
    border: solid var(--gray-400) 2px;
    color: #212529;
    padding: 5px;
    width: calc(100% - 14px);
    height: 100px;
}

.details-submission-cont .details-action-cont {
    display: flex;
    justify-content: end;
    margin-bottom: 40px;
}

.details-submission-cont .details-action-cont .details-action-clear {
    width: 130px;
    height: 45px;
    font-family: InterSemiBold;
    font-size: 20px;
    color: var(--fulvous-primary);
    background-color: white;
    border: 2px solid var(--fulvous-primary);
    border-radius: 5px;
    cursor: pointer;
    margin-right: 30px;
  
}

.details-submission-cont .details-action-cont .details-action-submit {
    width: 130px;
    height: 45px;
    font-family: InterSemiBold;
    font-size: 20px;
    color:white;
    background-color:  var(--fulvous-primary);
    border-radius: 5px;
    border:none;
    cursor: pointer;
   
}









@font-face {
    font-family: 'InterRegular';
    src: url(../css/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
    src: url(../css/fonts/Inter/static/Inter-Regular.ttf);
}

@font-face {
    font-family: 'InterThin';
    src: url(../css/fonts/Inter/static/Inter-Thin.ttf);
}

@font-face {
    font-family: 'InterMedium';
    src: url(../css/fonts/Inter/static/Inter-Medium.ttf);
}

@font-face {
    font-family: 'InterLight';
    src: url(../css/fonts/Inter/static/Inter-Light.ttf);
}

@font-face {
    font-family: 'InterExtraLight';
    src: url(../css/fonts/Inter/static/Inter-ExtraLight.ttf);
}

@font-face {
    font-family: 'InterExtraBold';
    src: url(../css/fonts/Inter/static/Inter-ExtraBold.ttf);
}

@font-face {
    font-family: 'InterBold';
    src: url(../css/fonts/Inter/static/Inter-Bold.ttf);
}

@font-face {
    font-family: 'InterSemiBold';
    src: url(../css/fonts/Inter/static/Inter-SemiBold.ttf);
}